<!doctype html>
<html lang="en" class="h-100">
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>What Day Is At School?</title>


        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}

        {% endblock %}

        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
        <link href="static/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    
    
        <!-- Custom styles for this template -->
        <link href="static/cover.css" rel="stylesheet">
    </head>
    {% endblock %}


    <body class="d-flex h-100 text-center text-bg-dark">
    
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
   
    </body>
  </html>
  